<h1>kakao info</h1>
<ul>
    <li>
        auth code: <%= @auth_code %>
    </li>
    <li>
        controller: <%= controller_name %>
    </li>
    <li>
        action: <%= action_name %>
    </li>
</ul>