<div class="container p-8">
    <%= render "nav" %>
        <ul class="mt-6 flex flex-col space-y-4">
            <li class="border flex flex-col align-start justify-stretch p-4 rounded-md">
                <div class="mb-2 text-xl font-semibold">CEOS OT</div>
                <div class="flex flex-row participants-wrapper items-center">
                    <div class="avatar-collection mr-2">
                        <span class="avatar">
                            <img src="https://picsum.photos/seed/ho/24/24" alt="">
                        </span>
                        <span class="avatar">
                            <img src="https://picsum.photos/seed/ly/24/24" alt="">
                        </span>
                        <span class="avatar">
                            <img src="https://picsum.photos/seed/fu/24/24" alt="">
                        </span>
                    </div>
                    <div class="text-gray-400">
                        정쿨, 유쿨 님 외 8명 참여중
                    </div>
                </div>

            </li>
        </ul>
</div>

<style>
    .avatar-collection {
        display: flex;
        flex-direction: row;

        /* width: calc(24px + (9px * 3)); */
        overflow-x: hidden;
    }

    .avatar {
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        width: 24px;
    }

    .avatar:not(:first-child) {
    margin-left: -5px;
    /* -webkit-mask:radial-gradient(circle 12px at 5px 50%,transparent 99%,#fff 100%);
            mask:radial-gradient(circle 12px at 5px 50%,transparent 99%,#fff 100%); */
    }

    .avatar img {
    width: 100%;
    display: block;
    }
/* 
    .avatar-collection img {
        width: 24px;
        height: 24px;
        border-radius: 24px;
    }

    .avatar-collection img:nth-child(2) {
        position:relative;
        right: 8px;
    }

    .avatar-collection img:nth-child(3) {
        position:relative;
        right: 16px;
    } */
</style>