<div class="container p-8 space-y-4">
  <section>
    <h1 class="mb-4 text-xl font-semibold text-gray-700">나의 약속</h1>
    <ul class="flex flex-col">
      <% @my_appointments.each do | appointment | %>
        <%= render partial: "appointment_card", locals: { appointment: appointment } %>
      <% end %>
    </ul>
  </section>
  <section>
    <h1 class="mb-4 text-xl font-semibold text-gray-700">참여중인 약속</h1>
    <ul class="flex flex-col space-y-4">
      <% @participating_appointments.each do | appointment | %>
        <%= render partial: "appointment_card", locals: { appointment: appointment } %>
      <% end %>
    </ul>
  </section>
</div>
<style>
  .avatar-collection {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  .avatar:not(:first-child) {
    margin-left: -5px;
  }

  .avatar img {
    width: 100%;
    display: block;
  }
</style>
